body {
  background-color: #eee;
  margin: 0 auto;
  font-family: 'Work Sans', sans-serif;
}

.covid-checklist {
  font-size: 1.5rem;
  margin-bottom: 2%;
}

h1 {
  font-family: 'Oswald', sans-serif;
  padding: 1% 0;
  font-size: 2.5rem;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.container {
  width: 80%;
  margin: 2% auto 0 auto;
}

img {
  width: 30%;
}

@media only screen and (max-width: 650px) {
  .container {
    width: 350px;
  }
  iframe {
    width: 300px;
  }
  img {
    width: 50%;
  }

  h3 {
    padding: 0 2%;
  }

  .covid-checklist {
    padding: 0 2%;
    margin-bottom: 6%;
  }
}
